.App {
  text-align: center;
}

#HomePage .App-logo {
  width: 60vmin;
  animation: App-logo-vibrate infinite 0.05s linear;
  animation-direction: alternate;
}

#HomePage, #GamePage {
  background-image: url('./images/world-map.jpg');
  box-shadow: 0 0 70vh 30vh rgba(0,0,0,0.9) inset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#HomePage h3 {
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  #HomePage {
    box-shadow: 0 0 70vh 30vw rgba(0,0,0,0.9) inset;
  }
}

@keyframes App-logo-vibrate {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

#Tutorial {
  margin: 0 10em 0 10em;
  background-color: #282c34;
  font-size: 0.6em;
  text-align: left;
  border-radius: 20px;
}

#Tutorial .weapons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Tutorial .weapons-list {
  height: 100px;
}

#Tutorial .weapons-list .weapon-item img {
  width: 50px;
}

#Game {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.PlayerStats{
  background-color: #707070;
  width: 8em;
}

#GameMap {
  border: 0;
  border: 2px;
  border-style: solid;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-color: #4D3D38;
}

.map-cell {
  width: 2em;
  height: 2em;
  border: 0;
  border-right: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-color: #4D3D38;
  background-image: url('./images/cell-bg.png');
  background-size: cover;
}

.rocks {
  width: 100%;
  height: 100%;
  background-image: url('./images/rocks.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.knife {
  width: 100%;
  height: 100%;
  background-image: url('./images/knife.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gun {
  width: 100%;
  height: 100%;
  background-image: url('./images/gun.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grenade {
  width: 100%;
  height: 100%;
  background-image: url('./images/grenade.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tank {
  width: 100%;
  height: 100%;
  background-image: url('./images/tank.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.army {
  width: 100%;
  height: 100%;
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
}

.army-red {
  background-image: url('./images/soldier-red.png');
}

.army-green {
  background-image: url('./images/soldier-green.png');
}
