.App {
  text-align: center;
}

.App-logo {
  width: 60vmin;
  animation: App-logo-vibrate infinite 0.05s linear;
  animation-direction: alternate;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('./images/world-map.jpg');
  box-shadow: 0 0 70vh 30vh rgba(0,0,0,0.9) inset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h3 {
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  .App-header {
    box-shadow: 0 0 70vh 30vw rgba(0,0,0,0.9) inset;
  }
}

@keyframes App-logo-vibrate {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
