.App {
  text-align: center;
}

#HomePage .App-logo {
  width: 60vmin;
  animation: App-logo-vibrate infinite 0.05s linear;
  animation-direction: alternate;
}

#HomePage, #GamePage {
  background-image: url('./images/world-map.jpg');
  box-shadow: 0 0 70vh 30vh rgba(0,0,0,0.9) inset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#HomePage h3 {
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  #HomePage {
    box-shadow: 0 0 70vh 30vw rgba(0,0,0,0.9) inset;
  }
}

@keyframes App-logo-vibrate {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

#Tutorial {
  margin: 0 10em 0 10em;
  background-color: #282c34;
  font-size: 0.6em;
  text-align: left;
  border-radius: 20px;
}

#Tutorial .weapons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Tutorial .weapons-list {
  height: 100px;
}

#Tutorial .weapons-list .weapon-item img {
  width: 50px;
}
